

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header, footer{

    max-width:50%;
    background-color: brown;
    padding: 20px;
    border:20px thin gray;
    border-radius: 12px;

}

h2 { text-align: center;}





#logo{
    display: block;

    width: 40px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
}


#social{
    display: block;
  width:40px;
  height: 20px;
border-radius:50%;}

header, main, footer{
    margin:20px auto;

    width:50%;
}

.nowrap{
    display: block;
    white-space: nowrap;
    text-align: center;
}

.coontainer1 nav{ background-color: brown;
 border: 5px solid black;
display: flex;}



.container1 ul { display: flex;
    justify-content: flex-end;
    gap:20px;
 list-style-type: none;}

 a{
    text-decoration: none;
    color: 

    black;
 }

 a:visited{ color: rgb(189, 163, 173);}

 a:active, a:hover{
    color:red;
 }

  img{
    display:block;
    width: 80%;
    height: auto;
    
 }


 .container2{
  background-color: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap:10px;
    grid-template-areas: "sect1"
    "sect2"
    "sect3"
    "sect4"
    "sect5"
    "sect6";
 }

            
    
 
 
.container2 section:nth-child(1){ grid-area: sect1; }
.container2 section:nth-child(2){ grid-area: sect2; }
.container2 section:nth-child(3){ grid-area: sect3; }
.container2 figure:nth-child(1){ grid-area: sect1; }
.container2 figure:nth-child(2){ grid-area: sect1; }
.container2 figure:nth-child(3){ grid-area: sect2; }

footer{ text-align: center;}




table,tr,th,td,caption{
    border:6px solid #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse:collapse;
    padding:0.5rem;
}
