header, main, footer{
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 40%;
    margin: 10px auto;
    
}


header{ background-color:brown;
    display:flex;
     padding:0  0  0 20px;
     color: white;
    
}

h1{text-align: center;}

main{ 

    display:grid;
    grid-template-columns:1fr ;
    grid-template-rows: 1fr 1f 1fr ;
    grid-template-areas: " section1"
    " section2"
    " section3";

 grid-gap:5px;}


 main section{
    border: 5px thick black;

    background-color:aliceblue;

    height: 200px;

 }

main section:nth-child(1){ 

    grid-area: section1;

    
    
}


main section:nth-child(2){ 

    grid-area: section2;

    max-height: 500px;
}



main section:nth-child(3){ 

    grid-area: section3;
}


footer{

    background-color: brown;
    color: white;
    text-align: center;
    padding: 2px 0;
}




#burgerbutton span:nth-child(1){ display: block;}

#burgerbutton span:nth-child(2) { display:none;}

#burgerbutton.open span:nth-child(1){ display: none;}

#burgerbutton.open  span:nth-child(2) { display:block;}

nav ul { display:none;}

nav ul.open{ display:block;}


a { 
 text-decoration: none;
color:yellowgreen;
padding-right: 5px;}


