
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header,main,footer,iframe{ 
   font-family: 'roboto', sans-serif;
    width: 40%;

    margin:0 auto;
    
}


div{

    display:flex;
     justify-content: center;
     gap:10px;

    background-color: blue;
    color: white;
    
}

img{ width:70px;
    height: 80px;
display: block;
padding:5px;
 
}

nav { background-color: black;

}

#menu {
    display:block;
    font-size: 1rem;
    font-weight:700;
    text-decoration:none;
    padding:.5rem .75rem;
    background-color:#eee;
    color:#000;
}

#menu::before{
    content:"\2630"
}

.navigation{
    list-style-type:none;
    margin:0 auto;
}


.navigation li{
    display :none 
}



.navigation a{
    display: block;
    padding:.75rem;
    text-align:left;
    text-decoration:none;

    font-weight:700;
}

.navigation a:hover, .navigation a:active{
    color:white;
    background-color:black;
}


 .open li{
    display:block;
}

#menu.open::before {
    content: "❌";
}

iframe{
    display: block;
 max-width:40%;
 margin:0 auto;
 padding: 15px;
}



main{
    display:grid;


    grid-template-columns: 1fr ;

    grid-template-rows:1fr 0.4fr ;

    grid-template-areas:"heading2"
    "sect1"
    " sect2" ;

}


h2{ grid-area: heading2;}

main section:first-child {
     grid-area: sect1;}

main section:nth-child(2){
     grid-area: sect2;
    border: 2px thick black;}

 section:nth-child(2) 
  p{ text-align: center;}

h2{ text-align: center;}

h3{  
    background-color: blue;
    color:white;
    text-align: center;
}

.card ul{ list-style-type: decimal-leading-zero;
 }

footer{
    background-color: blue;
    color: white ;
    text-align:center;
    padding: 10px;

}