
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

header,main,footer,iframe{ 
   font-family: 'roboto', sans-serif;
    width: 40%;

    margin:0 auto;
    
}


header, footer{

    background-color: blue;
}


div{

    display:flex;
     justify-content: center;
     gap:10px;

    
    color: white;
    
}

img{ width:70px;
    height: 80px;
display: block;
padding:5px;
 
}


.temple {
    position: relative;
}


.herolabel  p{
    position: absolute ;
    border: 5px thin black;
  background-color: skyblue;
    top: .5px;
    left: 450px;
    font-size: 2rem;
}

.temple img{
    width:40%;
    height:auto;
    display: block;
    margin:0 auto;
}

nav { background-color: black;

}

#menu {
    display:block;
    font-size: 1rem;
    font-weight:700;
    text-decoration:none;
    padding:.5rem .75rem;
    background-color:#eee;
    color:#000;
    cursor: pointer;
}

#menu::before{
    content:"\2630"
}

.navigation{
    list-style-type:none;
    margin:0 auto;
}


.navigation li{
    display :none 
}



.navigation a{
    display: block;
    padding:.75rem;
    text-align:left;
    text-decoration:none;

    font-weight:700;
}

.navigation a:hover, .navigation a:active{
    color:white;
    background-color:black;
}


 .open li{
    display:block;
}

#menu.open::before {
    content: "❌";
}


footer{
    background-color: blue;
    color: white ;
    text-align:center;
    padding: 10px;

}



.mform  fieldset{

    margin:2rem 0;

    border:1px  solid #ddd;

    border-radius:6px;
    padding:.5rem 2%
}


.mform legend{
    color: blue;
    padding:0.5rem;
}

.mform label{
    display: block;
    padding-top:1rem;
    color:red;
    font-size:.9rem;
}

.mform input[type="text"],

.mform input[type="email"],
.mform  input[type="password"],
.mform input[ type="number"]{
    background-color: #eee;
    display:block;
    border:1px solid #999;
    border-radius:6px;
    padding:.75rem;
    color:#555;
    
}

.mform  input[type="submit"]{
    border:none;
    padding: .8rem;
    margin:-1rem 2% 2rem 2%;}


