@media screen and (min-width:768px){
   nav  a { display:inline-block;
   text-align: center;
padding-left: 8px;}

    main{display:grid;
         grid-template-columns: 1fr 1fr;
         grid-gap:10px;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
    "heading2    heading2"
    " sect1   sect2";
    }
}