@media screen and (min-width:768px){
   nav ul , nav ul.open { display:flex;
   text-align: center;
padding-left: 8px;}

button{

    display: none;
}

    main{display:grid;
         grid-template-columns: 1fr 1fr;
         grid-gap:10px;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
    "heading2    heading2"
    " sect1   sect2";
    }

    iframe { 
        
        display: flex;
        justify-content: center;
    }
}