@media screen and (min-width:1024px){
   .navigation { display:flex;
   text-align: left;
}

.navigation li {
    display:block;
    flex: 1 1 100%;
}

.navigation a { text-align: center;}
#menu{

    display: none;
}

    main{display:grid;
         grid-template-columns: 1fr 1fr;
         grid-gap:10px;
    grid-template-rows: 0.2fr 1fr;
    grid-template-areas: 
    "heading2    heading2"
    " sect1   sect2";
    }

    iframe { 

        display: flex;
        justify-content: center;
    }
}


